APP_NAME=DEV_MONKS_ASSESSMENT
NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=devmonk
DB_USERNAME=postgres
DB_PASSWORD=kingemon
DB_LOGGER=false
DB_SYNCHRONIZE=true

HN_URL=https://hacker-news.firebaseio.com
MAXIMUM_TOP_STORIES=50

# AI
GROK_API_KEY=

# AI
OPENAI_URL=https://api.openai.com/
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-nano